<% 	event.date_start = new Date(parseInt(event.start));
	event.date_end = new Date(parseInt(event.end)); %>
<form class="form-horizontal " id="createEventForm">
    <!-- Начало в-->
    <div class="form-group">
        <label for="startdatetime" class="col-sm-4 control-label">Начало в:</label>
        <div class='input-group date col-sm-8'>
            <input type='text' class="form-control" id="startdatetime" name="startdatetime" required="required" value="<%= event.date_start %>" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
    </div>
    <!-- Окончание в-->
    <div class="form-group">
        <label for="enddatetime" class="col-sm-4 control-label">Окончание в:</label>
        <div class='input-group date col-sm-8'>
            <input type='text' class="form-control" id="enddatetime" name="enddatetime" required="required" value="<%= event.date_end %>"/>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
    </div>
</form>